chrome_extension/dist/
node_modules
#*#
*~
npm-debug.log*
.DS_Store
docs/wallet/dist
!.circleci
.*
component/ja
component/en
cordovaProj/node_modules
cordovaProj/plugins
electron/node_modules
electron/dist
electron/src/dist/*